* {
	margin: 0;
	padding: 0;
	color: #000;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.tab {
	display: -webkit-box;
	background-color: #000;
}
.tab li {
	-webkit-box-flex: 1;
	height: 50px;
	line-height: 50px;
	color: #fff;
	text-align: center;
}
.tab li.active {
	background-color: gray;
}